---
// Component Imports
import './style.css'


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<div class="line-container">
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
		</div>
		<main>
			<div class="main__text">
				<p class="hello-world">Hello world, I'm</p>
				<h1>Ryzlane</h1>
				<div class="button-container">
					<div class="button-container__button">
						<img class="button-container__button__img" src="./img/bottle.png" />
						<p>Moi</p>
					</div>
					<div class="button-container__button">
						<img class="button-container__button__img" src="./img/dos.png" />
						<p>Mes textes</p>
					</div>
					<div class="button-container__button">
						<img class="button-container__button__img" src="./img/diplome.png" />
						<p>Mon parcours</p>
					</div>
					<div class="button-container__button">
						<img class="button-container__button__img" src="./img/synerg.png" />
						<p>Mon bénévolat</p>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
