---
// Component Imports
import './style.css'


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
        <div class="line-container">
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
			<div class="line-container__line"></div>
		</div>
        <main>
			<div class="main__text">
				<p class="hello-world">Commençons par parler de...</p>
				<h1>Moi</h1>
				<div class="text-container">
                        <div class="text-container__left">
                            <p>Je m’appelle Ryzlane (retrouvez moi en pause café pour connaître l’origine de ce prénom peu commun), j’ai 24 ans et je suis passionnée de tout de que touche de près ou de loin au numérique.<br /><br />
                            Développeuse front-end, UX Designer, chef de projet, producut owner, chef de produit et enfin chargée de communication et événementiel, mais divers stages et alternance m’ont permis de tester tout un tas de choses.<br /><br />
                            A l’avenir, j’aimerais m’épanouir dans un équipe à taille humaine, dans l’associatif ou dans une entreprise à impact.
                            </p>
                        </div>
                        <div class="text-container__right">
                            <p>Je suis donc un peu touche à tout, engagée dans notamment dans la cause animale et sociale.<br /><br />
                                À côté de ça je suis une grande passionnée de littérature et d’écriture.</p>
                        </div>
					</div>
				</div>
		</main>
    </body>
</html>